.gird
{
    width:600px;
    margin: 40px auto;
    display: grid;
    gap:10px;


    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px 160px 80px;

    grid-template-areas:
    "header header header"
    "m1 m2 m3"
    "f1 f2 f3";
}
.header
{
    grid-area: header;
    background: #bada55;
}
.m1{grid-area: m1; background:#00c1c7}
.m2{grid-area: m2; background:#ff6f61}
.m3{grid-area: m3; background:#ffa500}
.f1{grid-area: f1; background:#6b5b95}
.f2{grid-area: f2; background:#88b04b}
.f3{grid-area: f3; background:#f7cac9}

.grid>div
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    font-family: Arial, sans-serif;
}